{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

{% if user.is_authenticated %}
<h5 class="text-end">Hi {{ user.username }}!</h5>
{% else %}
<div class="text-end">

    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
</div>
{% endif %}
<!-- Control the column width, and how they should appear on different devices -->
<div class="row">
    <div class="col-sm-6 bg-primary text-white">50%</div>
    <div class="col-sm-6 bg-dark text-white">50%</div>
</div>
<br>

<div class="row">
    <div class="col-md-4 bg-primary text-white">33.33%</div>
    <div class="col-md-4 bg-dark text-white">33.33%</div>
    <div class="col-md-4 bg-primary text-white">33.33%</div>
</div>
<br>

<!-- Or let Bootstrap automatically handle the layout -->
<div class="row">
    <div class="col-md bg-primary text-white">25%</div>
    <div class="col-md bg-dark text-white">25%</div>
    <div class="col-md bg-primary text-white">25%</div>
    <div class="col-md bg-dark text-white">25%</div>
</div>
<br>

<div class="row">
    <div class="col bg-primary text-white">25%</div>
    <div class="col bg-dark text-white">25%</div>
    <div class="col bg-primary text-white">25%</div>
    <div class="col bg-dark text-white">25%</div>
</div>
</div>
<p>Lorem ipsum dolor sit amet, consectetur <span> adipiscing </span>elit. Quisque dictum sapien vitae augue tempor
    accumsan. In
    maximus mauris in elit sollicitudin, ac sagittis ligula malesuada. Duis vel urna vel dolor mollis molestie eget et
    massa. Fusce eleifend nisl id nisi eleifend, vitae fermentum elit molestie. Quisque accumsan viverra arcu non
    egestas. Proin ac facilisis libero, ac pharetra purus. Vestibulum gravida volutpat magna, a eleifend ipsum cursus
    ac. Etiam vel dolor ut mi maximus <span>laoreet </span>sit amet sit amet purus. Praesent mattis sit amet est vel
    sagittis. Nullam
    eu lorem tincidunt, efficitur massa eget, congue libero. Donec iaculis ipsum eget pharetra egestas. Duis vestibulum
    orci vel mauris varius, nec pharetra orci pretium. Ut cursus egestas libero. Praesent id eleifend urna. Quisque non
    posuere sem. Proin blandit congue dolor, molestie mollis est commodo vel.</p>
{% endblock content %}