{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% include "consume/navbar.html" %}
<div class="container mt-4">
  <div class="text-center">{{ unit_name.unit_name }}</div>
  <form class="" method="POST">
    {% csrf_token %}
    <div class="text-center ">
      <div>
        <table class="table table-sm table-ligh table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" class="text-start">Item</th>
              <th scope="col">Stock</th>
              <th scope="col">Last Order</th>
              <th scope="col">New Order</th>
            </tr>
          </thead>
          <tbody>
            {% for item in item_list %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td class="text-start">{{item.item_name}}</td>
              <td data-stock="{{item.stock_available}}" class="stock">{{item.stock_available}}</td>
              <td>{{item.amount|default:"-"}}</td>
              <td><input class="text-end form-control order-quantity" type="number" placeholder=0
                  name="quantity_{{ item.item_id_annotated }}" min="0" max="{{item.stock_available}}"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="d-flex justify-content-end">
          <button type=" submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>
{% comment %}
If the entered quantity exceeds the stock available,
an alert is shown, and the input value is reset to the maximum available stock.
{% endcomment %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const orderInputs = document.querySelectorAll('.order-quantity');

    orderInputs.forEach(input => {
      input.addEventListener('input', function () {
        const stockElement = this.closest('tr').querySelector('.stock');
        const stockAvailable = parseInt(stockElement.dataset.stock, 10);
        const orderQuantity = parseInt(this.value, 10);

        if (orderQuantity > stockAvailable) {
          alert('Order quantity cannot exceed stock available.');
          this.value = stockAvailable;
        }
      });
    });
  });
</script>
{% endblock content %}