{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% include "consume/navbar.html" %}
<div class="container mt-4">

    <form class="d-flex justify-content-center" method="GET">
        <div>
            <select name="item" class="form-select">
                <option value="">All Units</option>
                {% for unit in units %}
                <option value="{{ unit.id }}">{{ unit.unit_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </form>

    <div class="d-flex justify-content-center">

        <ul>
            {% for order in orders %}
            <li><a href="{% url 'order_detail' order.id %}">{{order}}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}