{% extends "base.html" %}
{% block content %}
{% include "consume/navbar.html" %}
<div class="container">
    <div class="d-flex justify-content-center">Stock Available</div>
    <div class="justify-content-center ">
        <div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Item</th>
                        <th class="text-center"scope="col">Minimum Stock</th>
                        <th class=" text-center"scope="col">Stock Available</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{ object.item }}</td>
                        <td class="text-center ">{{ object.minimum_stock }}</td>
                        <td class=" text-center ">{{ object.stock_available }}</td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}